Xilinx/*
Intel/*
MadgwickAHRS_original/*
# **/*
!*.gitignore
#!*.cpp
#!*.c
#!*.h
#!*.m
#!*.tcl
!Xilinx/MadgwickAHRS_HW_development/madgwick/solution?/*.tcl
!Xilinx/MadgwickAHRS_HW_development/madgwick/**/*.tcl
!Xilinx/MadgwickAHRS_HW_development/*.cpp
!Xilinx/MadgwickAHRS_HW_development/*.c
!Xilinx/MadgwickAHRS_HW_development/*.h
!Xilinx/MadgwickAHRS_HW_development/*.m
!**/*.tcl

!Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/*/src/*.c
!Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/*/src/*.cpp
!Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/*/src/*.h

# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/ZYBO_Z7_NAV_MADGWICK/src/*.c
# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/ZYBO_Z7_NAV_MADGWICK/src/*.cpp
# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/ZYBO_Z7_NAV_MADGWICK/src/*.h

# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/SDcard/src/*.c
# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/SDcard/src/*.cc
# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/SDcard/src/*.cpp
# !Xilinx/Zybo_Z7_NAV/Zybo_Z7_NAV.sdk/SDcard/src/*.h

!MadgwickAHRS_original/madgwick_algorithm_matlab
!MadgwickAHRS_original/madgwick_algorithm_C++/*.c
!MadgwickAHRS_original/madgwick_algorithm_C++/*.cpp
!MadgwickAHRS_original/madgwick_algorithm_C++/*.h
!MadgwickAHRS_original/madgwick_algorithm_C++/*.csv
!MadgwickAHRS_original/madgwick_algorithm_C++/*.dat
